In [62]:
import pandas as pd

In [63]:
data = pd.read_csv("FINAL.csv", low_memory=False)

In [64]:
data

,time_elapsed,ino,state,flag,workload_type,ops_per_sec,distance_from_mean,cumulative_time_elapsed,time_difference
0,2361377,677997.0,0.0,1.0,1,0.000423,1.849626e+06,2361377,0.0
1,667,677997.0,0.0,1.0,1,1.499250,-5.110844e+05,2362044,-2360710.0
2,621,677997.0,0.0,1.0,1,1.610306,-5.111304e+05,2362665,-46.0
3,3002366,677813.0,7.0,1.0,1,0.000333,2.490615e+06,5365031,3001745.0
4,1158,677813.0,7.0,1.0,1,0.863558,-5.105934e+05,5366189,-3001208.0
...,...,...,...,...,...,...,...,...,...
1432297,253,679327.0,7.0,1.0,4,3.952569,-5.114984e+05,732977185148,-136140.0
1432298,220,679327.0,7.0,1.0,4,4.545455,-5.115314e+05,732977185368,-33.0
1432299,5330049,679327.0,7.0,1.0,4,0.000188,4.818298e+06,732982515417,5329829.0
1432300,749,679327.0,7.0,1.0,4,1.335113,-5.110024e+05,732982516166,-5329300.0
1432301,241,679327.0,7.0,1.0,4,4.149378,-5.115104e+05,732982516407,-508.0

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1432302 entries, 0 to 1432301
Data columns (total 9 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   time_elapsed             1432302 non-null  int64
 1   ino                      1432295 non-null  float64
 2   state                    1426843 non-null  float64
 3   flag                     1430882 non-null  float64
 4   workload_type            1432302 non-null  int64
 5   ops_per_sec              1432302 non-null  float64
 6   distance_from_mean       1432302 non-null  float64
 7   cumulative_time_elapsed  1432302 non-null  int64
 8   time_difference          1432302 non-null  float64
dtypes: float64(6), int64(3)
memory usage: 98.3 MB

In [66]:
data.dropna(inplace=True)

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1425432 entries, 0 to 1432301
Data columns (total 9 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   time_elapsed             1425432 non-null  int64
 1   ino                      1425432 non-null  float64
 2   state                    1425432 non-null  float64
 3   flag                     1425432 non-null  float64
 4   workload_type            1425432 non-null  int64
 5   ops_per_sec              1425432 non-null  float64
 6   distance_from_mean       1425432 non-null  float64
 7   cumulative_time_elapsed  1425432 non-null  int64
 8   time_difference          1425432 non-null  float64
dtypes: float64(6), int64(3)
memory usage: 108.8 MB

In [68]:
from scipy.stats import zscore
# Apply Z-score normalization to all numeric columns
numeric_cols = data.select_dtypes(include=['float64', 'int64']).columns
data_normalized = data.copy()
workload_col = data['workload_type']
data_normalized = data_normalized.drop(['workload_type'], axis=1)
data_normalized[numeric_cols] = data[numeric_cols].apply(zscore)

# Display the first few rows of the normalized dataframe to verify
data_normalized.head()

,time_elapsed,ino,state,flag,ops_per_sec,distance_from_mean,cumulative_time_elapsed,time_difference,workload_type
0,0.676214,-0.38631,-0.035393,-0.003554,-1.028586,0.676214,-2.974821,0.000018,-2.644552
1,-0.186910,-0.38631,-0.035393,-0.003554,-0.417030,-0.186910,-2.974821,-0.599918,-2.644552
2,-0.186927,-0.38631,-0.035393,-0.003554,-0.371716,-0.186927,-2.974821,0.000006,-2.644552
3,0.910573,-0.38691,-0.033807,-0.003554,-1.028623,0.910573,-2.974807,0.762862,-2.644552
4,-0.186730,-0.38691,-0.033807,-0.003554,-0.676407,-0.186730,-2.974807,-0.762690,-2.644552

In [69]:
data_normalized['workload_type'] = workload_col

In [70]:
data_normalized.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1425432 entries, 0 to 1432301
Data columns (total 9 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   time_elapsed             1425432 non-null  float64
 1   ino                      1425432 non-null  float64
 2   state                    1425432 non-null  float64
 3   flag                     1425432 non-null  float64
 4   ops_per_sec              1425432 non-null  float64
 5   distance_from_mean       1425432 non-null  float64
 6   cumulative_time_elapsed  1425432 non-null  float64
 7   time_difference          1425432 non-null  float64
 8   workload_type            1425432 non-null  int64
dtypes: float64(8), int64(1)
memory usage: 108.8 MB

In [71]:
data_normalized

,time_elapsed,ino,state,flag,ops_per_sec,distance_from_mean,cumulative_time_elapsed,time_difference,workload_type
0,0.676214,-0.386310,-0.035393,-0.003554,-1.028586,0.676214,-2.974821,0.000018,1
1,-0.186910,-0.386310,-0.035393,-0.003554,-0.417030,-0.186910,-2.974821,-0.599918,1
2,-0.186927,-0.386310,-0.035393,-0.003554,-0.371716,-0.186927,-2.974821,0.000006,1
3,0.910573,-0.386910,-0.033807,-0.003554,-1.028623,0.910573,-2.974807,0.762862,1
4,-0.186730,-0.386910,-0.033807,-0.003554,-0.676407,-0.186730,-2.974807,-0.762690,1
...,...,...,...,...,...,...,...,...,...
1432297,-0.187061,-0.381973,-0.033807,-0.003554,0.583982,-0.187061,0.663610,-0.034580,4
1432298,-0.187073,-0.381973,-0.033807,-0.003554,0.825893,-0.187073,0.663610,0.000009,4
1432299,1.761621,-0.381973,-0.033807,-0.003554,-1.028682,1.761621,0.663636,1.354506,4
1432300,-0.186880,-0.381973,-0.033807,-0.003554,-0.484001,-0.186880,0.663636,-1.354336,4
1432301,-0.187066,-0.381973,-0.033807,-0.003554,0.664284,-0.187066,0.663636,-0.000111,4

In [72]:
data_normalized = data_normalized.sample(frac = 1)

In [73]:
data_normalized

,time_elapsed,ino,state,flag,ops_per_sec,distance_from_mean,cumulative_time_elapsed,time_difference,workload_type
631571,-0.187062,0.432535,-0.033807,-0.003553,0.603335,-0.187062,0.496030,-0.002248,4
185605,-0.181245,-0.431407,-0.033807,-0.003554,-1.003513,-0.181245,-1.607346,0.004003,2
374732,-0.187059,-0.431407,-0.033807,-0.003554,0.540562,-0.187059,0.417695,-0.006696,2
918224,-0.187045,0.432535,-0.033807,-0.003553,0.345057,-0.187045,0.511771,-0.079333,4
964081,-0.187096,-0.723851,-0.033807,-0.003553,1.553668,-0.187096,0.514653,-0.000118,4
...,...,...,...,...,...,...,...,...,...
1324575,-0.186935,0.432535,-0.033807,-0.003553,-0.345303,-0.186935,0.539052,0.000134,4
1314067,-0.184375,0.432535,-0.033807,-0.003553,-0.975072,-0.184375,0.538385,0.001783,4
1197183,-0.186925,0.432535,-0.033807,-0.003553,-0.375921,-0.186925,0.530154,0.000138,4
502801,-0.185374,0.432535,-0.033807,-0.003553,-0.944959,-0.185374,0.489804,0.001102,4
864436,-0.089795,0.432535,-0.033807,-0.003553,-1.027227,-0.089795,0.508519,0.067528,4

In [74]:
data_normalized.to_csv("FINALFINAL.csv", index=False)

In [75]:
data_sampled1 = data_normalized.sample(frac=0.01, random_state=42)

In [76]:
data_sampled1.to_csv("sampled-data1.csv", index=False)

In [77]:
data_sampled2 = data_normalized.sample(frac=0.1, random_state=42)

In [78]:
data_sampled2.to_csv("sampled-data2.csv", index=False)

In [79]:
data_sampled3 = data_normalized.sample(frac=0.001, random_state=42)

In [80]:
data_sampled3.to_csv("sampled-data3.csv", index=False)